body{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    background: aquamarine;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

#main-content{
    background: darkseagreen;
    border: brown solid 5px;
}

#title {
    color: #ff8826;
    font-family: Algerian, serif;
    font-size: 28px;
}

#game-creator{
    text-align: right;
    font-family: Rockwell, fantasy;
}

.game-creator-part{
    margin-right: 20%;
    padding-bottom: 5px;
}

.game-input-box{
    text-align: right;
    width: 20%;
}

.game-box{
    background: darkgrey;
    border: 3px solid black;
    margin: 5px;
    padding-bottom: 30px;
}

#player{
    font-family: Jokerman, bold, monospace;
    font-size: 18px;
}

.game-cell{
    padding: 5px;
    border: solid black 1px;
    margin: 5px;
    font-family: Wingdings bold, fantasy;
}

.game-cell-init{
    background: azure;
}

.game-cell-player1{
    background: brown;
    color: yellow;
}

.game-cell-player2{
    background: aqua;
    color: red;
}

.game-row{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}


