body{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    background: aquamarine url("img/background.png");
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

#main-content{
    background: darkseagreen url("img/content_background.png");
    border: brown solid 5px;
    border-radius: 20px;
}

#title {
    color: #6f2802;
    font-family: Algerian, serif;
    font-size: 28px;
}

#game-creator{
    text-align: right;
    font-family: Rockwell, bold, fantasy;
    font-size: 20px;
}

.game-creator-part{
    margin-right: 25%;
    padding-bottom: 5px;
}

.game-input-box{
    text-align: right;
    width: 20%;
}

.game-box{
    background: darkgrey url("img/game_background.png");
    border: 3px solid black;
    border-radius: 15px;
    margin: 5px;
    padding-bottom: 30px;
}

#player{
    font-family: Jokerman, bold, monospace;
    font-size: 18px;
    color: #1a0a26;
}

.game-cell{
    padding: 5px;
    margin: 5px;
    font-family: Wingdings bold, fantasy;
}

.game-row{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}


