body{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    background: aquamarine;
}

#preamble {
    color: brown;
    font-family: Algerian, serif;
    font-size: 21px;
}

.game-box{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background: darkgrey;
    border: 3px solid black;
}

.game-cell{
    padding: 5px;
    border: solid black 1px;
}

.game-cell-init{
    background: azure;
}

.game-cell-player1{
    background: brown;
}

.game-cell-player2{
    background: aqua;
}

.game-row{
    margin-top: 5px;
}

#game-topbar-img{
    alignment: center;
    margin-top: 3px;
}


